.detail{
    flex: 1;
    
    .user{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid rgba(240, 255, 255, 0.476);

        img{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info{
        gap: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .option{
            
            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    height: 30px;
                    width: 30px;
                    background-color: rgba(8, 8, 8, 0.473);
                    padding: 10px;
                    border-radius: 15px;
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover{
                        background-color: rgb(8, 8, 8);
                    }
                }
            }
        }
        .photos{
            overflow: scroll;
            /*Add Scroll asthetic*/ 
            overflow-x: hidden;
            height: 130px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .photoItem{
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.2s;

                .photoDetail{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 5px;
                        object-fit: cover;
                    }

                    span{
                        font-size: 14px;
                        font-weight: 300;
                        color: lightgray;
                    }
                }

                .icon{
                    height: 27px;
                    width: 27px;
                    padding: 1px;
                    border-radius: 5px;
                    background-color: rgba(8, 8, 8, 0.277);
                    cursor: pointer;
                    transition: 0.2s;

                    &:hover{
                        background-color: rgb(8, 8, 8);
                    }
                }
                &:hover{
                    background-color: rgba(8, 8, 8, 0.202);
                    padding: 1px;
                    border-radius: 5px;
                }
            }
        }

        button{
            padding: 7px 20px;
            background-color: rgba(128, 5, 30, 0.808);
            color: aliceblue;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            transition: 0.2s;

            &:hover{
                background-color: rgb(144, 0, 55);
            }

            &.logout{
                padding: 7px;
                background-color: blueviolet;
                transition: 0.2s;

                &:hover{
                    background-color: rgba(156, 82, 226, 0.75);
                }
            }
        }
    }
}